* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}
body {
    background-color: #528;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
    min-height: 100vh;
    gap: 1rem;
}
.assets{
    display: none;
}

.game {
    overflow: hidden;
    max-height: 500px;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: #aaf6;
    position: relative;
    border-radius: 0.4em;
}
.board {
    width: 100%;
    height: 100%;
}
.hud {
    position: absolute;
    width: 100%;
    height: 4rem;
    background-color: #fff1;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hud h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
}
.hud span {
    font-size: 2em;
}
.controls {
    display: inline-grid;
    grid-template-rows: 2;
    grid-template-columns: 3;
    grid-template-areas: '. u .' 'l d r';
}
.btn {
    width: 5rem;
    aspect-ratio: 1/1;
    font-size: 120%;
    border: none;
    border-radius: 2.5rem;
    box-shadow: 4px 4px 4px #000;
}
.btn-dir {
    background: radial-gradient(#fff, #333);
    visibility: hidden;
}
.btn-start {
    background: radial-gradient(#dfd, #242);
}
.btn:active {
    box-shadow: inset 4px 4px 4px #000;
    transform: translate(-2px, -2px);
    font-size: 100%;
}
.btn:nth-child(1) {
    grid-area: l;
}
.btn:nth-child(2) {
    grid-area: u;
}
.btn:nth-child(3) {
    grid-area: r;
}
.btn:nth-child(4) {
    grid-area: d;
}
.btn-start {
    grid-area: d;
}
.start {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('../img/field.png');
}
.open {
    animation: open 0.5s 1 forwards;
}
.close {
    animation: closed 0.5s 1 forwards;
}
@keyframes open {
    from {top: 0; display: inline-block;}
    to {top: -100%; display: none;}
}
@keyframes closed {
    from {top: -100%; display: none;}
    to {top: 0; display: inline-block;}
}
@media screen and (orientation: landscape) {
    body {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2em;
    }
    .controls {
        grid-template-rows: 3;
        grid-template-columns: 3;
        grid-template-areas: '. u .' 'l s r' '. d .';
        gap: 0;
    }
    .btn-start {
        grid-area: s;
    }
}